<h1>Form</h1>
<h2>Game Form</h2>

<form action="/action_page.php">
  Game name: <br>
  <input type="text" name="gametitle" value="FFXIV">
  <br>
  Game release: <br>
  <input type="text" name="release" value="13/02/1996">
  <br><br>
  <input type="submit" value="submit">
</form>
